.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarLeft {
  flex: 3;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  widows: 100%;
  height: 32px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin: 5px 0px 0px 10px;
}

.searchInput {
  border: none;
  width: 70%;
  outline: none;
  margin-left: 7px;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarIcons {
  display: flex;
}
.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.topbarImg {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  cursor: pointer;
}
